/* quiz.css */

.content {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
  }

  .button-instance {
  left: 45% !important;
  position: absolute !important;
  top: 100%;
}
  
.online-test-pana {
  width: 180px;
  max-width: 180px;
  margin-left: 50px;
}
.title-container {
  padding-top: 0px !important;
  position: relative;
  width: 90%;
  padding: 20px;
  margin-bottom: 20px;
}

.horizontal-line {
  width: 80%;
  height: 1px;
  padding-left: -20px;
  background-color: black;
  margin: 0 auto 5%; 
  background-color: rgba(62, 50, 50, 0.25);
}
  
  .title-container h1 {
    font-size: 36px;
    /*text-align: center;*/
    font-family: 'Montserrat', sans-serif;
  }
  
  .general-text-container {
    width: 100%;
    height: 200px; /* Set the height of the container to your desired value */
    display: flex;
    /* Set the container as a flex container */
    flex-direction: row;
    /* Arrange the children in a row */
    justify-content: flex-start;
    /* Align the text to the left of the container */
    align-items: center; /* Vertically center the text */
    margin-bottom: 30px;
  }
  
  .general-text {
    flex: 1; /* The text will take all available space */
    font-size: 19px;
    font-weight: bold;
    margin-left: 7%;
    /* Set a maximum width for the text container if needed */
    max-width: 490px;
    color: rgba(8, 8, 8, 0.75);
  }
  
  
  
  /* Container for the entire quiz */
  .quiz {
    background-color: #dddddd;
    padding: 30px; /* Increase the padding to add more space around the quiz */
    border-radius: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; /* Set the quiz container's maximum width to 80% */
    margin: 0 auto; /* Center the quiz container horizontally */
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
  }

/* Content.css (you can create a separate CSS file for Content component) */
.options-container {
  display: flex;
  flex-direction: column;
}

.option-line {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px; /* Slightly increased margin for more spacing between options */
}

.toggle-button {
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background-color: #ccc;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Add some styles to make the toggle button visible */
.toggle-button::after {
  content: "";
  display: block;
  width: 30px; /* Increase the width of the inner circle */
  height: 30px; /* Increase the height of the inner circle */
  border-radius: 50%;
  background-color: #fff;
  margin: 5px; /* Adjust the margin to center the inner circle */
}

  
  
  
  /* Styling for the question */
  .question {
    font-size: 18px;
    /* Smaller font size */
    margin-bottom: 20px;
    font-weight: bold;
    word-wrap: break-word;
    /* Allow text to wrap */
  }

/* Content.css (you can create a separate CSS file for Content component) */
.question-QCM {
  font-size: 18px;
  /* Smaller font size */
  font-weight: bold;
  /* Make the text bold */
  font-family: "Roboto", sans-serif;
  /* Use the Roboto font */
  margin-bottom: 20px;
  word-wrap: break-word;
  /* Allow text to wrap */
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
}

.bg-custom-color {
  background-color: #10455B;
}

  
  /* Container for the answer options */
  .answer {
    display: flex;
    flex-direction: column;
  }
  
  /* Styling for each option button */
  .question {
    font-size: 16px; /* Smaller font size */
    margin-bottom: 20px;
   padding-top: 50px;
    word-wrap: break-word; /* Allow text to wrap */
    max-width: 70%; /* Set the question's maximum width to 80% */
    margin: 0 auto; /* Center the question horizontally */
  }
  .options {
    display: flex;
    flex-direction: row; /* Display options in a row */
    align-items: center; /* Center the options horizontally */
    justify-content: center; /* Center the options vertically */
    margin-top: 20px;
    
  }
  /* Styling for the selected (active) option button */
  .options button {
    background-color: rgba(8, 8, 8, 0.5);
    color: white;
    border: none;
    margin-right: 10px;
    padding: 10px 40px; /* Increase the padding to add more width to the buttons */
    margin-bottom: 10px;
    /* Add space between the buttons */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  /* Your CSS file or in your Tailwind CSS configuration */
.option-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 8px;
}

.option-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Allow height to adjust based on content */
  border-radius: 15px;
  background: var(--black-25, rgba(62, 50, 50, 0.25));
  color: #231F20;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  border: none;
  padding: 8px 1px;
  margin: 4px;
  cursor: pointer;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}

.custom-top-margin {
  margin-top: -50px !important;
}
.opt {

  width: 500px; 


  white-space: normal;


  padding: 10px;
  margin: 10px;

  word-break: break-word;
}


.option-button2:hover {
  color: white;
  background-color: #10455B;
}

.option-button:hover {
  background-color: #10455B;
}

.selected-true {
  background-color: #10455B !important;
}

.selected-false {
  background-color: blue;
}


